  <head>
    <title>ISW1 - TP1</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

  </head>
    <div align="center"><a  href="/">ISW1 - TP1</a></div>

    <table id="tabla1" align = "center">
          <tr align="center" width="33%"><td>
                        {% if error%}
                            Ocurrió un error al buscar el bar. Intente de nuevo.
                        {% endif %}
			{% from "_formhelpers.html" import render_field %}
			<form method=post action="/buscar">
			    {{ form.csrf_token }}
			  <dl>
			    {{ render_field(form.direccion_actual) }}
			  </dl>
			  <p><input type=submit class='button1' value=Buscar></p>
        <p><a  href="/">Volver</a></p>
			</form>

          </td></tr>
    </table>
