<head>
<title>ISW1 - TP1</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
	<div align="center"><a href="/" >ISW1 - TP1</a></div>
	{% from "_formhelpers.html" import render_field %}

	<table id="tabla1" align ="center">
		<tr><td>
                     {% if esDuenio or mod %}
			<form method=post action="/editar?barDireccion={{direccion}}">
			    {{ form.csrf_token }}
			    Nombre actual: {{nombre}}
 			  <dl>
			    {{ render_field(form.nombre_dado) }}

			  </dl>
			  <p><input type=submit class='button1' value=Submit></p>
			</form>
                     {% else %}
                        <p>No esta habilidato a editar este bar.</p>
                     {% endif %}
	    </td></tr>
	</table>
</body>
