<html>
  <head>
    <title>ISW1 - TP1</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

  </head>
  <body>

    <div align="center"><a href="/" >ISW1 - TP1</a></div>

    <table id="tabla2" align ="center">
          <tr><td>
            <hr>
              {% if positivo %}
                 <p>La cuenta fue creada exitosamente!</p>
              {% else %}
                 <p>La cuenta no ha podido ser creada</p>
              {% endif %}
            {% block content %}{% endblock %}
           </body>
            <form method=get action="/home">
              <input type=submit class='button1' value=Volver>
            </form>
          </td></tr>
    </table>

  </body>
</html>
