<html>
  <head>
    <title>ISW1 - TP1</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

  </head>
  <body>

    <div align="center"><a href="/" >ISW1 - TP1</a></div>

    <table id="tabla1" align ="center">
      <tr>
        <td>
          <font size="5"><strong>Resultados de la búsqueda</strong></font>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
          <p> Estás en {{ dirusuario.direccion() }} </p>
          {% if bares %}
            {% for bar in bares %}
                {% set perfilDeBar = bar[1] %}
                {% set elBar = perfilDeBar.bar() %}
                {% set nombre = elBar.nombre() %}
                {% set direccion = elBar.ubicacion().direccion() %}
              <div>
                <b>{{ nombre }}</b>
                está cerca tuyo! Está en {{ direccion }},
                a una distancia de {{ bar[0] }} metros de vos.
        
                <div>
                  {% if direccion in misBares or mod %}

                    ¿Desea <a  href="/editar?barDireccion={{direccion}}">editar</a> los datos del bar?
                  
                  {% endif %}
                </div>
                
                <a href = "/vista?barDireccion={{direccion}}">Ver más</a></p>
                
              </div>
              
              {% endfor %}
              
              <div class="centered-block" id="mapa">
                {{
                    googlemap(
                        "simple-map",
                        lat=dirusuario.latlong()[0],
                        lng=dirusuario.latlong()[1],
                        markers=locations,
                        maptype_control=0,
                        zoom = 15,
                        cls = "mapStyle",
                        polylines = polylines
                    )
                }}
                <!-- http://brunorocha.org/python/flask/flask-google-maps-plus-how-to-write-a-flask-extension.html -->
              </div> 
              
          {% else %}
            <p>No se han encontrado bares cerca :(</p>
          {% endif %}
          {% block content %}{% endblock %}
          <form method=get action="/buscar">
            <input type=submit class='button1' value=Volver>
          </form>
        </td>
      </tr>
    </table>

  </body>
</html>

