<html>
  <head>
    <title>ISW1 - TP1</title>
  </head>
  <body>
    <div><a href="/">ISW1 - TP1</a></div>
    <hr>
      <p> Estás en {{ dirusuario.direccion() }} </p>
      {% if bares %}
        <ul>
        {% for bar in bares %}
        <li> <b>{{ bar.bar().nombre() }}</b> está cerca tuyo! Está en {{bar.bar().direccion().direccion() }} </li>
        {% endfor %}
        </ul>
      {% else %}
         <p>No se han encontrado bares cerca :(</p>
      {% endif %}
    {% block content %}{% endblock %}
  </body>
  <style>
      .button {
          display: inline-block;
          padding: 3px 5px;
          border: 1px solid #000;
          background: #eee;
      }
  
  </style>
  <a href="/buscar" class="button">Volver atrás</a>
</html>
