@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,200,300,900);
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width: 90%;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
}

a {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}
a:hover {
  color: #00a7c9;
}

table#tabla1{
    width: 30%; 
    background-color: #f1f1c1;
    padding: 20px;
    border: 2px solid #008CBA;
    border-radius:5px;
    font-family: inherit;


}

table#tabla2{
    width: 40%; 
    background-color: #f1f1c1;
    padding: 20px;
    border: 2px solid #008CBA;
    border-radius:5px;
    font-family: inherit;

}

.button1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: inherit;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius:5px;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.inline {
  display: inline-block;
  overflow: hidden;
}

.card {
/*  position: absolute;*/
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*@media only screen and (max-width: 768px) {
  .card {
    width: 18rem;
  }
}*/
.card .panel {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  padding: 1.5rem 2rem;
   position: relative; 
  background-color: #fff;
  width: 60%;
  height: 100%;
  border: none;
  overflow: hidden;
}
.card .meta {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  position: relative;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 4rem;
  border-right: 1px solid transparent;
}
.card .meta picture {
  position: relative;
  display: inline-block;
}
.card .meta img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card .meta .avatar {
  border-radius: 50%;
}
.card .meta .company-logo {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
}
.card .meta .name {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
.card .meta .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0;
}

@media only screen and (min-width: 768px) {
  .card .info {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
  }
}
.card .info dt {
  margin: 0;
  padding: 1rem 0;
}
.card .info dt:first-child {
  padding-top: 0;
}
.card .info dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}
.card .info dd {
  width: 100%;
  height: 0.5rem;
  position: relative;
  right: 0;
  margin: -1.5rem 0 0;
  /* background-color: nth($colors, 1); */
  overflow: hidden;
  text-indent: -1000px;
}
.card .info dd:nth-child(2) {
  background-color: #E89B35;
}
.card .info dd:nth-child(4) {
  background-color: #36CBE9;
}
.card .info dd:nth-child(6) {
  background-color: #A137E7;
}
.card .info dd:nth-child(8) {
  background-color: #E83568;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}


* {
  box-sizing:border-box;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body { 

  font-family:'Lato';
}
.heading-primary {
  font-size:2em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
     }
}
.accordion dd,
.accordion__panel {
   font-size:1em;
   line-height:1.5em; 
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;
}
.container {
  max-width:50%;
  margin:0 auto;
}
.accordionTitle,
.accordion__Heading {
   text-align:center;
     font-weight:700; 
          padding:0.4em;
          display:block;
          text-decoration:none;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:10em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
